[Unit]
Description=Google Flights Worker (Docker, instance %i)
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=simple
Restart=always
RestartSec=2
TimeoutStopSec=30
KillSignal=SIGINT

# Use docker image instead of copying a binary
EnvironmentFile=/etc/google-flights/worker.docker.env

ExecStartPre=/usr/bin/docker pull ${WORKER_IMAGE}

ExecStart=/bin/sh -c '/usr/bin/docker run --rm --name google-flights-worker-%i --env-file /etc/google-flights/worker.docker.env -e APP_VERSION="${APP_VERSION:-$WORKER_IMAGE}" -e WORKER_ID=worker-%i "$WORKER_IMAGE"'

ExecStop=/usr/bin/docker stop -t 20 google-flights-worker-%i

[Install]
WantedBy=multi-user.target
